{%- block form_row -%}
    <div class="mb-3">
        {{- form_label(form, null, {'label_attr': {'class': 'form-label fw-bold'}}) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
        {%- if form.vars.help is defined and form.vars.help -%}
            <div class="form-text">{{ form.vars.help }}</div>
        {%- endif -%}
    </div>
{%- endblock form_row -%}

{%- block checkbox_row -%}
    <div class="mb-3">
        <div class="form-check">
            {{- form_widget(form) -}}
            {{- form_label(form, null, {'label_attr': {'class': 'form-check-label'}}) -}}
        </div>
        {{- form_errors(form) -}}
        {%- if form.vars.help is defined and form.vars.help -%}
            <div class="form-text">{{ form.vars.help }}</div>
        {%- endif -%}
    </div>
{%- endblock checkbox_row -%}
