<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}">
            <strong>TechOffice</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_import') }}">
                        <i class="bi bi-upload"></i> Import CSV
                    </a>
                </li>
                
                <!-- Menu Clients -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="clientsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Clients
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="clientsDropdown">
                        <li><a class="dropdown-item" href="{{ path('app_client_index') }}">Liste</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_client_new') }}">Nouveau</a></li>
                    </ul>
                </li>

                <!-- Menu Sites -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="sitesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sites
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="sitesDropdown">
                        <li><a class="dropdown-item" href="{{ path('app_site_index') }}">Liste</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_site_new') }}">Nouveau</a></li>
                    </ul>
                </li>

                <!-- Menu Imprimantes -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="imprimantesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Imprimantes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="imprimantesDropdown">
                        <li><a class="dropdown-item" href="{{ path('app_imprimante_index') }}">Liste</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_imprimante_new') }}">Nouveau</a></li>
                    </ul>
                </li>

                <!-- Menu Fabricants -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="fabricantsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Fabricants
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="fabricantsDropdown">
                        <li><a class="dropdown-item" href="{{ path('app_fabricant_index') }}">Liste</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_fabricant_new') }}">Nouveau</a></li>
                    </ul>
                </li>

                <!-- Menu Modèles -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="modelesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Modèles
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="modelesDropdown">
                        <li><a class="dropdown-item" href="{{ path('app_modele_index') }}">Liste</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_modele_new') }}">Nouveau</a></li>
                    </ul>
                </li>

                <!-- Menu Interventions -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="interventionsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Interventions
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="interventionsDropdown">
                        <li><a class="dropdown-item" href="{{ path('app_intervention_index') }}">Liste</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_intervention_new') }}">Nouveau</a></li>
                    </ul>
                </li>

                <!-- Menu Relevés Compteur -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="relevesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Relevés Compteur
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="relevesDropdown">
                        <li><a class="dropdown-item" href="{{ path('app_releve_compteur_index') }}">Liste</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_releve_compteur_new') }}">Nouveau</a></li>
                    </ul>
                </li>

                <!-- Menu États Consommables -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="etatsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        États Consommables
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="etatsDropdown">
                        <li><a class="dropdown-item" href="{{ path('app_etat_consommable_index') }}">Liste</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_etat_consommable_new') }}">Nouveau</a></li>
                    </ul>
                </li>

                <!-- Menu Demandes Congé -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="congesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Demandes Congé
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="congesDropdown">
                        <li><a class="dropdown-item" href="{{ path('app_demande_conge_index') }}">Liste</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_demande_conge_new') }}">Nouveau</a></li>
                    </ul>
                </li>

                <!-- Menu Utilisateurs -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="usersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Utilisateurs
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="usersDropdown">
                        <li><a class="dropdown-item" href="{{ path('app_user_index') }}">Liste</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_user_new') }}">Nouveau</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
