{% extends 'base.html.twig' %}

{% block title %}Intervention index{% endblock %}

{% block body %}
    <h1>Intervention index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateCreation</th>
                <th>TypeIntervention</th>
                <th>Statut</th>
                <th>Description</th>
                <th>TempsFacturableMinutes</th>
                <th>TempsReelMinutes</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Facturable</th>
                {% endif %}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for intervention in interventions %}
            <tr>
                <td>{{ intervention.id }}</td>
                <td>{{ intervention.dateCreation ? intervention.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ intervention.typeIntervention.value }}</td>
                <td>{{ intervention.statut.value }}</td>
                <td>{{ intervention.description }}</td>
                <td>{{ intervention.tempsFacturableMinutes }}</td>
                <td>{{ intervention.tempsReelMinutes }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>{{ intervention.facturable is null ? 'Non validé' : (intervention.facturable ? 'Oui' : 'Non') }}</td>
                {% endif %}
                <td>
                    <a href="{{ path('app_intervention_show', {'id': intervention.id}) }}">show</a>
                    <a href="{{ path('app_intervention_edit', {'id': intervention.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="{{ is_granted('ROLE_ADMIN') ? 9 : 8 }}">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_intervention_new') }}">Create new</a>
{% endblock %}
