{{ form_start(form) }}
    <div class="row g-3">
        <div class="col-12">
            {{ form_row(form.stockLocation, {'attr': {'class': 'form-select'}}) }}
        </div>

        <div class="col-12">
            {{ form_row(form.piece, {'attr': {'class': 'form-select'}}) }}
        </div>

        <div class="col-12">
            {{ form_row(form.quantite, {'attr': {'class': 'form-control', 'min': 0}}) }}
        </div>

        <div class="col-12">
            {{ form_row(form.seuilAlerte, {'attr': {'class': 'form-control', 'min': 0}}) }}
            {% if form.seuilAlerte.vars.help is defined and form.seuilAlerte.vars.help %}
                <div class="form-text">{{ form.seuilAlerte.vars.help }}</div>
            {% endif %}
        </div>
    </div>

    <div class="d-flex gap-2 mt-4">
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-check-circle"></i> Enregistrer
        </button>
        <a href="{{ path('app_stock_item_index') }}" class="btn btn-outline-secondary">
            <i class="bi bi-x-circle"></i> Annuler
        </a>
    </div>
{{ form_end(form) }}
